<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Access Page</h1>
    <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./access">Access</a></li>
    </ul>
    <div><a href="../pdf/program.pdf">リンクはこちら</a></div>
    <div><img src="../images/thumbnail/thumbnail-test.jpg" alt=""></div>
    <div><img src="../images/icon/icon-test.png" alt=""></div>
</body>
</html>