@use "base/base";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 0, 47);
}

h1 {
    color: green;
}

ul li {
    display: inline-block;
}

ul li a {
    display: block;
    padding: .5em;
    text-decoration: none;
    max-width: 150px;
}